.inputContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  padding: 12px 120px 12px 16px;
  position: relative;
  width: 100%;
  transition: all 0.2s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.inputContainer:focus-within {
  border-color: var(--primary-color);
  box-shadow: 0 2px 6px rgba(120, 0, 138, 0.1);
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0;
  width: 100%;
  color: var(--text-color);
}